.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.apple-top-nav {
  background: black;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
}

.apple-top-nav-links {
  color: white;
  text-decoration: none;
  font-family: Helvetica;
  padding: 2rem;
}

.links-big {
  font-size: 1.5rem;
}

.sub-nav {
  display: flex;
  justify-content: center;
  background: black;
  opacity: 0.9;
}